---
layout: master
title: Blog|博客
full_posts: 5
---

<a href='http://feeds.feedburner.com/mrluanma' class='float-right'><img src='/images/subscribe.png' alt='Subscribe to XML Feed|订阅'/></a>

{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
    <div class='body'>{{post.content}}</div>
    <a href='{{post.url}}#disqus_thread'>View Comments|查看评论</a>
  </div>
  {% else %}
    {% if forloop.index == page.full_posts %}
    <h3>Older Posts|更早发布的文章</h3>
    <table class='post-list'>
    {% endif %}
    <tr>
      <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
      <td>{{ post.date | date_to_string }}</td>
      <td><a href='{{post.url}}#disqus_thread'>Comments|评论</a></td>
    </tr>
  {% endif %}
{% endfor %}
</table>
